<!--  please make another component for form standard-->

<div id = 'parent_wrapper'> 
    <div id="parent_content">
        <div id="elem_wrapper"> <h1> Please Read and Fill The Form Below</h1>  </div> 
        <p> 
            Nam laoreet, libero et iaculis volutpat, dolor urna viverra nisl, quis vulputate arcu tellus quis felis. Suspendisse tristique, quam eu facilisis semper, lorem lacus maximus libero, at viverra tortor nibh sollicitudin nisi. Donec vel tellus in orci imperdiet lobortis. Donec a porttitor sapien. Sed pretium viverra nibh, feugiat lobortis massa. Mauris sed odio in justo semper dignissim. Nunc molestie sem sed arcu placerat aliquet. Quisque vestibulum lorem est, non lobortis ex mattis ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam nec ligula non lacus feugiat dignissim at a orci. Vivamus at suscipit tellus, nec efficitur velit. Donec tempus ac est quis molestie. Nulla ipsum diam, hendrerit malesuada sagittis vel, molestie id quam. Phasellus sodales ornare nunc, ut gravida velit congue vitae. Sed tristique sapien lectus, non sollicitudin leo lobortis sit amet.
        </p>

        <form>
            <div>        
                 <div id="elem_wrapper"> <h2> Please provide issue type</h2> </div>
                 <div id="elem_wrapper"> 
                    <input name = 'bug' type ="checkbox"> <label for="bug"> Bug issue in the systems</label>
                    <input name = 'questions' type ="checkbox"> <label for="questions">  question for the application</label>                        
                </div>   
                <div id="elem_wrapper">
                    <input name = 'questions' type ="checkbox"> <label for="questions">  Ideas for the application</label>
                    <input name = 'questions' type ="checkbox"> <label for="questions">  Concerns for the application</label>                               
                </div>   
                <textarea>  </textarea>
            </div>
    
    
        </form>
    </div>




</div>