<div class="home_group_type1">
    <div id="home_group_top_cont_type1">
        <img class = "arrow_switch" src="/assets/img/pnghost_arrow_left.png">
        <h4 id="home_group_title"> Title For title</h4>
        <img class = "arrow_switch" src="/assets/img/pnghost_arrow_right.png">
    </div>
        
    <!-- <div  class="home_group_music_data_sub_section">
                <div class="music_data">
                <img src="/assets/img/zep1.jpg">
                <div class="info_section"> <h4 id="text"> Pink Floyd</h4>  </div>
                </div>

                <div class="music_data">
                <img src="/assets/img/zep2.jpg">
                <div class="info_section"> <h4 id="text"> Pink Floyd</h4>  </div>
                </div>

                <div class="music_data">
                <img src="/assets/img/zep3.jpg">
                <div class="info_section"> <h4 id="text"> Pink Floyd</h4>  </div>
                </div>

                <div class="music_data">
                    <img src="/assets/img/hoh.jpg">
                    <div class="info_section"> <h4 id="text"> Pink Floyd</h4>  </div>
                </div>

                <div class="music_data">
                    <img src="/assets/img/pg.jpg">
                    <div class="info_section"> <h4 id="text"> Pink Floyd</h4>  </div>
                </div>

                <div class="music_data">
                    <img src="/assets/img/ithod.jpg">
                    <div class="info_section"> <h4 id="text"> Pink Floyd</h4>  </div>
                </div>

                <div class="music_data">
                    <img src="/assets/img/dsotm.jpg">
                    <div class="info_section"> <h4 id="text"> Pink Floyd</h4>  </div>
                </div>

                <div class="music_data">
                <img src="/assets/img/zep1.jpg">
                <div class="info_section"> <h4 id="text"> Pink Floyd</h4>  </div>
                </div>
        </div> -->

        <div class="home_group_music_data_sub_section">
            
            <div  *ngFor="let topEightSong of topEightSongs" class="music_data">
                
                
                <!-- <img src = "C:\GIT\Github\stage-player-audiolibrary\target\classes\static\album_covers\{{topEightSong.albumImg}}"> -->
                <img src = "http://localhost:8050/user/album_cover/{{topEightSong.albumImg}}">
                <div class="info_section artistName"> <h4 id="text" class="artistName"> {{topEightSong.artistName}}</h4>  </div>
                <div class="info_section"> <h4 id="text"> {{topEightSong.songName}}</h4>  </div>
            </div>

          
    </div> 
        
</div>

 
    

