<div class="home_group_type1">
    <div id="home_group_top_cont_type1">
        <img class = "arrow_switch" src="/assets/img/pnghost_arrow_left.png">
        <h4 id="home_group_title"> Tops Songs</h4>
        <img class = "arrow_switch" src="/assets/img/pnghost_arrow_right.png">
    </div>
        

        <div class="home_group_music_data_sub_section">
            
            <div #music_data_box_top_8_songs *ngFor="let topEightSong of topEightSongs" (click)="playAudioFromSongClick(topEightSong.audioIdentifier)" class="music_data" >
                
                
                <!-- <img src = "C:\GIT\Github\stage-player-audiolibrary\target\classes\static\album_covers\{{topEightSong.albumImg}}"> -->
                <img src =  "http://localhost:8050/user/album_cover/{{topEightSong.albumImg}}">
                <div class="info_section artistName"> <p id="text_White_Small" class="artistName"> {{topEightSong.artistName}}</p>  </div>
                <div class="info_section"> <p id="text_White_Small"> {{topEightSong.songName}}</p>  </div>
                <p #songIdEF style="display:none;" > {{topEightSong.audioIdentifier}} </p>
            </div>

          
    </div> 
        
</div>

 
    

