

    <nav>
        <img id="mainLogo" src="assets/img/logo1.png">
        <div> <h4> <a class="navLinks" routerLink="/home"> Home </a> </h4> </div>
        <div> <h4> <a class="navLinks"> Contact </a> </h4> </div>
        <div> <h4> <a class="navLinks" routerLink="/library"> Library </a> </h4> </div>
        <div id="search_cont"> <input id = "search_bar" type="text" value="Search..."> </div>
        <div class="btnContainer">
            <div class = "mediumBtn"> <h5> <a class="navLinks" routerLink="/login">  logIn </a>  </h5></div>
            <div class = "mediumBtn"> <h5> <a class="navLinks" routerLink="/signUp">  Signup </a> </h5> </div>
        </div>

        <img id="settingLogo">
    </nav>

